*{
    font-family: 'Open Sans', sans-serif;
}

.card{
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 20px;
    background: transparent;
    font-family: "Open Sans", sans-serif;
    margin-left: 50px;
    
  }
  img {
    height: 200px;
    width: 200px;
    background: transparent;
  }
  .img-container{
    height: 200px;
    width: 200px;

  }

  .nav {
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px;
    font-family: "Open Sans", sans-serif;
    float: none;
    justify-content: center;
    background-color: rgb(23, 2, 56);
  }
  body {
    background-color: black;
    font-family: "Open Sans", sans-serif;
  }
  h4,
  h1.h3 {
    color: white;
    font-family: "Open Sans", sans-serif;
  }
  p {
    color: white;
    font-family: "Open Sans", sans-serif;
  }
  .img-fluid{
    margin: 0 auto;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
}
.grow:hover {
    transform: scale(1.1);
}
.cardcontainer{
    justify-content: center;
}
.grow{
    width: 200px;
    height: 200px;
}
h5{
    font-size: 10px;
}
.jumbotron{
    color: blanchedalmond;
    height: 450px;
    background-color: rgb(83, 77, 77);
    text-align: left;
    background-image: url("https://freerangestock.com/sample/52243/digital-music-beats-background-shows-music-soundtrack-or-sound-p.jpg");
}
h4{
    font-size: small;
}
.badge{
    position:absolute;
    background-color: rgb(156, 98, 77) !important;
    color: black;
    font-size: small;
 
}
.table{
    background-color: transparent;
    margin-top: 100px;
    margin-bottom: 50px;
}
th,td,tr{
    color: rgb(238, 234, 226);
    border-color: rgb(54, 46, 46);
}
.track-btn{
    background-color: black;
    color: blanchedalmond;
}
.btn-container{
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
    color: honeydew;
    border-radius: 10px;
    background-color: rgb(65, 58, 58);
    box-shadow: 0 1px 2px rgba(211, 197, 197, 0.15);
    transition: all 0.3s ease-in-out;
  }
.btn-container::after {
    content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
  }
  .btn-container:hover {
    transform: scale(1.2, 1.2);
  }
  
  
  .btn-container:hover::after {
    opacity: 1;
  }
 .bi{
     margin-right: 20px;

 }